# Игнорируем образы виртуальных дисков (гигабайты данных)
*.vdi
*.vmdk
*.vmem
*.vbox
*.ova

# Игнорируем тяжелые файлы логов (мы оставляем только скриншоты в assets)
*.evtx
*.log
*.pcapng

# Игнорируем дампы оперативной памяти
*.mem
*.raw
*.dmp

# Игнорируем системные настройки Obsidian
.obsidian/
.trash/
